
name: Merge Disposable Email Domains Blocklist


on:
  schedule:
    - cron: '0 0 * * *' # Runs every day at midnight UTC
  workflow_dispatch: 


jobs:
 
  main:
    runs-on: ubuntu-latest
  
    permissions:                
      contents: write        

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Download domains
      run: |
        mkdir sources
        curl -o sources/stopforumspam_domains.txt "${{ secrets.STOPFORUMSPAM_URL }}"
        curl -o sources/disposable_email_blocklist.txt "${{ secrets.BLOCKLIST_URL_1 }}"
        curl -o sources/disposable_email_blocklist-2.txt "${{ secrets.BLOCKLIST_URL_2 }}"
        curl -o sources/disposable_email_blocklist-3.txt "${{ secrets.BLOCKLIST_URL_3 }}"

    - name: Merge files
      run: |
        cat sources/*.txt > daily_email_blocklist.txt
  
    - name: Remove duplicate lines
      run: |
        sort daily_email_blocklist.txt | uniq > disposable_email.txt

    - name: Generate JSON file from TXT
      run: |
        echo "[" > disposable_email.json
        awk '{print "  \"" $0 "\","}' disposable_email.txt >> disposable_email.json
        sed -i '$ s/,$//' disposable_email.json   # Remove last comma
        echo "]" >> disposable_email.json

    - name: Commit changes
      run: |
        git config --local user.email "${{ secrets.GIT_USER_EMAIL }}"
        git config --local user.name "${{ secrets.GIT_USER_NAME }}"
        git add disposable_email.txt disposable_email.json
        git commit -m 'chore: daily merge of disposable email blocklist' || echo "No changes to commit"
        git pull --rebase origin main
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: main
        force: true
